@using  OdeToFood.Core
@model Restaurant

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.Name</h3>
    </div>
    <div class="panel-body">
        <span>@Model.Location</span>
        <span>@Model.Cuisine</span>
    </div>
    <div class="panel-footer">
        @*  Author: sahil maiyani
            Date: 22-06-2019

            EI code: 01

            Info: When redirect to `Detail` page using restaurant name change in `asp-route` tag helper
            for following anthor tag

            Old code: `asp-route-restaurantId="@restaurant.Id"`
        *@
        <a class="btn btn-lg"
           asp-page="./Detail"
           asp-route-restaurantName="@Model.Name">
            <i class="glyphicon glyphicon-zoom-in"></i>
        </a>

        <a class="btn btn-lg"
           asp-page="./Edit"
           asp-route-restaurantId="@Model.Id">
            <i class="glyphicon glyphicon-edit"></i>
        </a>

        <a class="btn btn-lg"
           asp-page="./Delete"
           asp-route-restaurantId="@Model.Id">
            <i class="glyphicon glyphicon-trash"></i>
        </a>

        <a class="btn btn-primary pull-right" asp-page="./NewBooking" asp-route-restaurantId="@Model.Id">Book My Table</a>
    </div>
</div>