@page "{restaurantId:int}"
@*  Author: sahil maiyani
    Date: 22-06-2019

    EI code: 01,

    Info: redirect to this page using `restaurantName` instead of `restaurantId` cause change
          in `@page` directive parameter

    Old code: `{restaurantId:int}`
*@

@model mydemo_OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail of " + Model.Restaurant.Name;
}
<h2>@Model.Restaurant.Name</h2>


@if (Model.Message != null)
{
    <div class="alert alert-info alert-dismissable">@Model.Message</div>
}


<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>


@* List all bookings of restaurants in table *@

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Customer name</th>
            <th>Time</th>
            <th>Person</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var booking in Model.Restaurant.Bookings)
        {
            <tr>
                <td>@booking.Id</td>
                <td>@booking.CustomerName</td>
                <td>@booking.Time</td>
                <td>@booking.Person</td>
                <td>@booking.Phone</td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./List" class="btn btn-default">All Restaurants</a>